@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

html, body{
  font-family: 'Karla', sans-serif;
}

h1{
  font-size: 5.3rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #241F26;
}

h2{
  font-size: 4.3rem;
  font-family: 'Oswald', sans-serif;
  color: #241F26;
}

h3{
  font-size: 0.9rem;
  letter-spacing: 3px;
  color: #CC4E27;
  font-weight: 600;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #241F26;
  transition: all 0.3s ease-in-out;
  &:hover{
    color: #6AB4C5;
  }
}

.anchor{
  visibility: hidden;
}

.icon{
  font-size: 2.3rem;
  margin: 0 .5%;
}

/* Dropdown */
.dropdown{
  grid-column: 11/13;
  grid-row: 1/2;
  padding-top: 11%;
  padding-left: 30%;
  display: inline-block;
  position: relative;
}
.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}
.dd-button:hover {
  background-color: #f6f6f6;
}
.dd-input {
  display: none;
}
.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: -1px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}
.dd-input + .dd-menu {
  display: none;
}
.dd-input:checked + .dd-menu {
  display: block;
}
.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.dd-menu li:hover {
  background-color: #f6f6f6;
}
.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}
.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

//MAIN AREA
.main-area{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  #side-image{
    height: 100%;
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/13;
  }
  #side-image-mobile{
    display: none;
  }
  #side-image-tablet{
    display: none;
  }
  #title-text{
    grid-column: 5/10;
    grid-row: 2/6;
    margin-left: 5%;
    h1{
      margin-top: 1.5rem;
    }
    h2{
      margin-top: 10px;
    }
  }
  #explanation-wrapper{
    grid-column: 7/10;
    grid-row: 8/11;
      h3{
        margin-bottom: 50px;
      }
    #explanation{
      p{
        margin: 10px 0px;
      }
      button{
        border-radius: 20px;
        border: 1px solid black;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: #6AB4C5;
          border: 1px solid #6AB4C5;
        }
      }
    }
  }

  .fadedText{
    grid-column: 11/13;
    grid-row: 4/8;
    pointer-events: none;
    overflow: auto;
    font-size: 12rem;
    opacity: 0.1;
    position: static;
  }

  #mail{
    margin-left: 2%;
  }

  #resume{
    margin-left: 3.5%;
  }

  #github-icon{
    grid-column: 12/13;
    grid-row: 1/1;
    margin-top: 20%;
    font-size: 2rem;
  }

  #line{
    grid-column: 10/13;
    grid-row: 8/9;
    border-top: 1px solid #241F26;
  }

  .contact-link{
    line-height: 1.5;
  }

  #powered-by{
    grid-column: 10/13;
    grid-row: 11/12;
    padding-top: 10%;
    font-size: .8rem;
  }

  #prof-links{
    grid-column: 11/13;
    grid-row: 12/13;
    li{
      display: inline-block;
      padding-left: 10px;
    }
  }

  #tech-links{
    grid-column: 10/13;
    grid-row: 12/13;
  }

  .med-icon{
    height: 32px;
    width: 32px;
    margin-right: 9px;
  }

  .mini-icon{
    height: 16px;
    width: 16px;
    margin-right: 9px;
  }

}

// MEDIA QUERIES

//PHONE
@media (min-width: 0px) and (max-width: 600px) {
  #side-image{
    display: none;
  }

  #side-image-mobile{
    display: block !important;
    height: 100%;
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/13;
  }

  h3{
    font-size: .5rem;
  }

  #title-text{
    h1{
      font-size: 2.6rem;
    }
    h2{
      font-size: 2.2rem;
    }
  }

  #explanation-wrapper{
    grid-column: 7/13 !important;
    grid-row: 7/10 !important;
    padding-right: 5%;
      h3{
        margin-top: 20px;
        margin-bottom: 40px !important;
      }
    #explanation{
      p{
        margin: 10px 0px;
        font-size: .6rem;
        line-height: 1.2;
      }
      button{
        border-radius: 20px;
        border: 1px solid black;
        background-color: #fff;
      }
    }
  }

  #github-icon{
    grid-column: 12/13;
    grid-row: 1/1;
    margin-top: 30%;
    font-size: 2rem;
  }

  .dropdown{
    display:none;
  }

  .fadedText{
    font-size: 8rem !important;
  }

  .contact-link{
    line-height: 2.5 !important;
  }


  #prof-links{
    grid-column: 7/13 !important;
    grid-row: 12/13;
    margin-top: 17%;
    li{
      display: inline-block;
      padding-left: 10px;
      a{
        font-size: 0.8rem;
      }
    }
  }

  #powered-by{
    grid-column: 6/13 !important;
    grid-row: 12/13;
    padding-top: 30% !important;
    padding-left: 3% !important;
    font-size: .6rem !important;
  }

  #tech-links{
    grid-column: 6/13 !important;
    grid-row: 12/13;
    padding-top: 8%;
    padding-left: 3px;
    span{
      font-size: .6rem;
    }
    .icon{
      font-size: 1.6rem;
    }
  }

  #contact-section{
    a{
      font-size: 0.3;
    }
  }

  .contact-link{
    font-size: .6rem;
  }

  .med-icon{
    height: 16px !important;
    width: 16px !important;
    margin-right: 9px;
  }

  #mail{
    margin-left: 5% !important;
  }

  #resume{
    margin-left: 7% !important;
  }

}

//TABLET - PORTRAIT
@media (min-width: 601px) and (max-width: 900px) {

  #side-image{
    display: none;
  }

  #side-image-tablet{
    display: block !important;
    height: 100%;
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/13;
  }

  h3{
    font-size: .9rem;
  }

  #title-text{
    h1{
      font-size: 5rem;
    }
    h2{
      font-size: 4.5rem;
    }
  }

  #explanation{
      p{
        font-size: .8rem;
      }
    }

  .dropdown{
    display: none;
  }

  .contact-link{
    font-size: .8rem;
    line-height: 2.5 !important;
  }

  #github-icon{
    grid-column: 12/13;
    grid-row: 1/1;
    margin-top: 30%;
    padding-left: 30%;
    font-size: 2rem;
  }

  .fadedText{
    grid-column: 11/13;
    grid-row: 5/9;
  }

  #prof-links{
    grid-column: 10/13 !important;
    grid-row: 12/13;
    margin-top: 17%;
  }

  #powered-by{
    grid-column: 10/13 !important;
    grid-row: 12/13;
    padding-top: 30% !important;
  }

}

//TABLET LANDSCAPE
@media (min-width: 901px) and (max-width: 1200px) {
  #side-image{
    display: none;
  }

  #side-image-tablet{
    display: block !important;
    height: 100%;
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/13;
  }

  .dropdown{
    grid-column: 10/13;
  }

  h3{
    font-size: 1.1rem;
  }

  #title-text{
    h1{
      font-size: 6rem;
    }
    h2{
      font-size: 5rem;
    }
  }

  #explanation-wrapper{
      h3{
        margin-top: 10px;
      }
    #explanation{
      p{
        font-size: 1.2rem;
        button{
          border-radius: 20px;
          border: 1px solid grey;
        }
      }
    }
  }

  .dropdown{
    display:none;
  }

  .fadedText{
    grid-column: 10/13;
    grid-row: 5/9;
  }

  .contact-link{
    font-size: .8rem;
    line-height: 2.5 !important;
  }

  #powered-by{
    grid-column: 10/13 !important;
    grid-row: 12/13;
    padding-top: 30% !important;
  }

}

//DESKTOP
@media (min-width: 1201px) and (max-width: 1800px) {

}
//BIG DESKTOP
@media (min-width: 1801px) and (max-width: 2000px) {


}
